.fancy_text{
    background-image: linear-gradient(90deg, rgb(241, 225, 0), rgb(247, 117, 11));
    background-size: 0% 1.5px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: 300ms ease;
}

.fancy_text:hover{
    background-size: 100% 2px;

}