.container_1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main_container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.main_container .card {
    position: relative;
    max-width: 300px;
    height: 280px;
    background: #514a9480;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0,.5);
    transition: 0.3s ease-in-out;

}  

.main_container .card:hover{
    height: 420px;
}

.main_container .card .imgBx{
    position: relative;
    width:260px ;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 54px 20px rgba(0,0,0,0,.2);
}
.main_container .card .imgBx img{
    max-width: 88%;
    border-radius: 4px;
}

.main_container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.main_container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -20px;
    transition-delay: 0.3s;
}